<center><h2>Indicator 2.1b: Air Quality-PM2.5</h2></center>

<h3>Connect API</h3>
<p> parameter: 88101 <br>
    year: 2000~2019</p>

In [1]:
import requests
import pandas as pd
import json
import numpy as np

In [2]:
url = "https://aqs.epa.gov/data/api/dailyData/byState?email=test@aqs.api&key=test&param=88101&bdate=20000101&edate=20001231&state=39"

In [3]:
try:
    response = requests.get(url)
    response.raise_for_status()
except requests.exceptions.HTTPError as errh:
    print ("Http Error:",errh)
except requests.exceptions.ConnectionError as errc:
    print ("Error Connecting:",errc)
except requests.exceptions.Timeout as errt:
    print ("Timeout Error:",errt)
except requests.exceptions.RequestException as err:
    print ("OOps: Something Else",err)

print('Total results retrieve from api:',response.json()['Header'])

Total results retrieve from api: [{'status': 'Success', 'request_time': '2020-03-18T12:55:45-04:00', 'url': 'https://aqs.epa.gov/data/api/dailyData/byState?email=test@aqs.api&key=test&param=88101&bdate=20000101&edate=20001231&state=39', 'rows': 28296}]

In [4]:
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
dictr = response.json()
data = dictr['Data']
df = json_normalize(data)

In [5]:
df.columns

Index(['state_code', 'county_code', 'site_number', 'parameter_code', 'poc',
       'latitude', 'longitude', 'datum', 'parameter', 'sample_duration',
       'pollutant_standard', 'date_local', 'units_of_measure', 'event_type',
       'observation_count', 'observation_percent', 'validity_indicator',
       'arithmetic_mean', 'first_max_value', 'first_max_hour', 'aqi',
       'method_code', 'method', 'local_site_name', 'site_address', 'state',
       'county', 'city', 'cbsa_code', 'cbsa', 'date_of_last_change'],
      dtype='object')

<h3>Process data</h3>

In [6]:
df_select = df.loc[:,['state_code','county_code','first_max_value','date_local']]
df_select.head()

  state_code county_code  first_max_value  date_local
0         39         035             20.8  2000-12-29
1         39         035             20.8  2000-12-29
2         39         035             20.8  2000-12-29
3         39         035             20.8  2000-12-29
4         39         035             12.1  2000-12-26

In [7]:
df_select['state_code'] = df_select['state_code'].astype('str')
df_select['county_code']= df_select['county_code'].astype('str')
df_select['state_code'] = df_select['state_code'].apply(lambda x: x.zfill(2))
df_select['county_code'] = df_select['county_code'].apply(lambda x: x.zfill(3))
df_select['id'] = df_select['state_code']+df_select['county_code']
df_select.head()

  state_code county_code  first_max_value  date_local     id
0         39         035             20.8  2000-12-29  39035
1         39         035             20.8  2000-12-29  39035
2         39         035             20.8  2000-12-29  39035
3         39         035             20.8  2000-12-29  39035
4         39         035             12.1  2000-12-26  39035

In [8]:
df_require = df_select.loc[df_select['id'].isin(['39101','39091', '39159', '39097', '39047', '39041','39117', '39049','39129','39141','39083', '39089','39045', '39127', '39073'])]
print(len(df_require))
df_require['id'].unique()

2796

array(['39049'], dtype=object)

In [9]:
df_require1 = df_require.loc[df_require['first_max_value'] > 35.4]
print(len(df_require1))

116

In [10]:
df_require1.loc[(df_require1['first_max_value'] >35.4) & (df_require1['first_max_value'] <= 55.4), 'aqi_category'] = "Unhealthy for Sensitive Groups"
df_require1.loc[(df_require1['first_max_value'] >55.4) & (df_require1['first_max_value'] <= 150.4), 'aqi_category'] = "Unhealthy"
df_require1.loc[df_require1['first_max_value'] >150.4 , 'aqi_category'] = "Very Unhealthy"

df_require1.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,state_code,county_code,first_max_value,date_local,id,aqi_category
7972,39,049,40.0,2000-11-08,39049,Unhealthy for Sensitive Groups
7973,39,049,40.0,2000-11-08,39049,Unhealthy for Sensitive Groups
7974,39,049,40.0,2000-11-08,39049,Unhealthy for Sensitive Groups
7975,39,049,40.0,2000-11-08,39049,Unhealthy for Sensitive Groups
8024,39,049,49.4,2000-10-26,39049,Unhealthy for Sensitive Groups

In [18]:
result = df_require1.drop_duplicates(subset=['id','date_local'], keep="last")
print(len(result))

17

In [28]:
result['date_local'] = result['date_local'].astype(str)
result['count'] = 1

result['year']= result['date_local'].str[:4]
#region
region = result.groupby(['year','aqi_category'],as_index = False)['count'].sum()
region_final = region.pivot(index='year', columns='aqi_category', values='count')
region_final.reset_index(inplace=True)
#print(region_final.columns)
if 'Unhealthy for Sensitive Groups' not in region_final.columns:
    region_final['Unhealthy for Sensitive Groups']=0
if 'Unhealthy' not in region_final.columns:
    region_final['Unhealthy'] = 0
if 'Very Unhealthy' not in region_final.columns:
    region_final['Very Unhealthy'] = 0
region_final = region_final[['year', 'Unhealthy for Sensitive Groups','Unhealthy','Very Unhealthy']]
region_final

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

aqi_category  year  Unhealthy for Sensitive Groups  Unhealthy  Very Unhealthy
0             2000                              17          0               0

In [27]:
#county
county = result.groupby(['year','aqi_category','id'],as_index = False)['count'].sum()
pivot_df_county = county.pivot_table(index=['id','year'], columns='aqi_category', values='count')
county_final = pivot_df_county.fillna(0)
county_final.reset_index(inplace=True)
if 'Unhealthy for Sensitive Groups' not in county_final.columns:
    county_final['Unhealthy for Sensitive Groups']=0
if 'Unhealthy' not in county_final.columns:
    county_final['Unhealthy'] = 0
if 'Very Unhealthy' not in county_final.columns:
    county_final['Very Unhealthy'] = 0
county_final = county_final[['id','year', 'Unhealthy for Sensitive Groups','Unhealthy','Very Unhealthy']]
county_final

aqi_category,id,year,Unhealthy for Sensitive Groups,Unhealthy,Very Unhealthy
0,39049,2000,17,0,0

<h2>Organize into function</h2>

In [47]:
def indicator2_1b(df):
    df_select = df.loc[:,['state_code','county_code','first_max_value','date_local']]
    df_select['state_code'] = df_select['state_code'].astype('str')
    df_select['county_code']= df_select['county_code'].astype('str')
    df_select['state_code'] = df_select['state_code'].apply(lambda x: x.zfill(2))
    df_select['county_code'] = df_select['county_code'].apply(lambda x: x.zfill(3))
    df_select['id'] = df_select['state_code']+df_select['county_code']
    df_require = df_select.loc[df_select['id'].isin(['39101','39091', '39159', '39097', '39047', '39041','39117', '39049','39129','39141','39083', '39089','39045', '39127', '39073'])]
    df_require1 = df_require.loc[df_require['first_max_value'] > 35.4]
    if len(df_require1)!= 0:
        df_require1.loc[(df_require1['first_max_value'] >35.4) & (df_require1['first_max_value'] <= 55.4), 'aqi_category'] = "Unhealthy for Sensitive Groups"
        df_require1.loc[(df_require1['first_max_value'] >55.4) & (df_require1['first_max_value'] <= 150.4), 'aqi_category'] = "Unhealthy"
        df_require1.loc[df_require1['first_max_value'] >150.4 , 'aqi_category'] = "Very Unhealthy"
        result = df_require1.drop_duplicates(subset=['id','date_local'], keep="last")
        result['date_local'] = result['date_local'].astype(str)
        result['count'] = 1
        result['year']= result['date_local'].str[:4]
        #region
        region = result.groupby(['year','aqi_category'],as_index = False)['count'].sum()
        region_final = region.pivot(index='year', columns='aqi_category', values='count')
        region_final.reset_index(inplace=True)
    #print(region_final.columns)
        if 'Unhealthy for Sensitive Groups' not in region_final.columns:
            region_final['Unhealthy for Sensitive Groups']=0
        if 'Unhealthy' not in region_final.columns:
            region_final['Unhealthy'] = 0
        if 'Very Unhealthy' not in region_final.columns:
            region_final['Very Unhealthy'] = 0
        region_final = region_final[['year', 'Unhealthy for Sensitive Groups','Unhealthy','Very Unhealthy']]
        #county
        county = result.groupby(['year','aqi_category','id'],as_index = False)['count'].sum()
        pivot_df_county = county.pivot_table(index=['id','year'], columns='aqi_category', values='count')
        county_final = pivot_df_county.fillna(0)
        county_final.reset_index(inplace=True)
        if 'Unhealthy for Sensitive Groups' not in county_final.columns:
            county_final['Unhealthy for Sensitive Groups']=0
        if 'Unhealthy' not in county_final.columns:
            county_final['Unhealthy'] = 0
        if 'Very Unhealthy' not in county_final.columns:
            county_final['Very Unhealthy'] = 0
        county_final = county_final[['id','year', 'Unhealthy for Sensitive Groups','Unhealthy','Very Unhealthy']]
    else:
        region_final = pd.DataFrame(columns = ['year', 'Unhealthy for Sensitive Groups','Unhealthy','Very Unhealthy'])
        county_final = pd.DataFrame(columns = ['id','year', 'Unhealthy for Sensitive Groups','Unhealthy','Very Unhealthy'])
    return region_final,county_final

In [48]:
y_list = [x for x in range(2009,2020)]
def get_data(year):
    url = "https://aqs.epa.gov/data/api/dailyData/byState?email=test@aqs.api&key=test&param=88101&bdate={}0101&edate={}1231&state=39".format(str(year),str(year))
    response = requests.get(url)
    
    dictr= response.json()
    print(dictr['Header'])
    data = dictr['Data']
    df = json_normalize(data)
    return df

In [49]:
region1 = pd.DataFrame(columns = ['year', 'Unhealthy for Sensitive Groups','Unhealthy','Very Unhealthy'])
county1 = pd.DataFrame(columns = ['id','year', 'Unhealthy for Sensitive Groups','Unhealthy','Very Unhealthy'])
for i in y_list:
    df = get_data(i)
    region_final,county_final = indicator2_1b(df)
    region1 = pd.concat([region1,region_final])
    county1 = pd.concat([county1,county_final])

[{'status': 'Success', 'request_time': '2020-03-18T14:51:07-04:00', 'url': 'https://aqs.epa.gov/data/api/dailyData/byState?email=test@aqs.api&key=test&param=88101&bdate=20090101&edate=20091231&state=39', 'rows': 25128}]
[{'status': 'Success', 'request_time': '2020-03-18T14:51:45-04:00', 'url': 'https://aqs.epa.gov/data/api/dailyData/byState?email=test@aqs.api&key=test&param=88101&bdate=20100101&edate=20101231&state=39', 'rows': 26922}]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

[{'status': 'Success', 'request_time': '2020-03-18T14:52:27-04:00', 'url': 'https://aqs.epa.gov/data/api/dailyData/byState?email=test@aqs.api&key=test&param=88101&bdate=20110101&edate=20111231&state=39', 'rows': 27686}]
[{'status': 'Success', 'request_time': '2020-03-18T14:53:10-04:00', 'url': 'https://aqs.epa.gov/data/api/dailyData/byState?email=test@aqs.api&key=test&param=88101&bdate=20120101&edate=20121231&state=39', 'rows': 30540}]
[{'status': 'Success', 'request_time': '2020-03-18T14:53:56-04:00', 'url': 'https://aqs.epa.gov/data/api/dailyData/byState?email=test@aqs.api&key=test&param=88101&bdate=20130101&edate=20131231&state=39', 'rows': 28274}]
[{'status': 'Success', 'request_time': '2020-03-18T14:54:40-04:00', 'url': 'https://aqs.epa.gov/data/api/dailyData/byState?email=test@aqs.api&key=test&param=88101&bdate=20140101&edate=20141231&state=39', 'rows': 27975}]
[{'status': 'Success', 'request_time': '2020-03-18T14:55:20-04:00', 'url': 'https://aqs.epa.gov/data/api/dailyData/byState?email=test@aqs.api&key=test&param=88101&bdate=20150101&edate=20151231&state=39', 'rows': 34207}]
[{'status': 'Success', 'request_time': '2020-03-18T14:56:29-04:00', 'url': 'https://aqs.epa.gov/data/api/dailyData/byState?email=test@aqs.api&key=test&param=88101&bdate=20160101&edate=20161231&state=39', 'rows': 35019}]
[{'status': 'Success', 'request_time': '2020-03-18T14:57:25-04:00', 'url': 'https://aqs.epa.gov/data/api/dailyData/byState?email=test@aqs.api&key=test&param=88101&bdate=20170101&edate=20171231&state=39', 'rows': 32260}]
[{'status': 'Success', 'request_time': '2020-03-18T14:58:11-04:00', 'url': 'https://aqs.epa.gov/data/api/dailyData/byState?email=test@aqs.api&key=test&param=88101&bdate=20180101&edate=20181231&state=39', 'rows': 43249}]
[{'status': 'Success', 'request_time': '2020-03-18T14:59:02-04:00', 'url': 'https://aqs.epa.gov/data/api/dailyData/byState?email=test@aqs.api&key=test&param=88101&bdate=20190101&edate=20191231&state=39', 'rows': 52345}]

In [51]:
region1

aqi_category  year Unhealthy for Sensitive Groups Unhealthy Very Unhealthy
0             2000                             17         0              0
0             2001                             19         3              0
0             2002                             17         0              0
0             2003                             13         1              0
0             2004                             10         0              0
0             2005                              4         0              0
0             2006                              2         0              0
0             2007                              4         0              0
0             2008                              1         0              0
0             2010                             13         0              0
0             2011                             23         0              0
0             2012                              2         1              0
0             2013                              2         1              0
0             2014                              4         1              0
0             2015                              2         1              0
0             2016                              1         0              0
0             2017                              1         0              0
0             2018                              3         1              0
0             2019                             13         0              0

In [52]:
county1

aqi_category,id,year,Unhealthy for Sensitive Groups,Unhealthy,Very Unhealthy
0,39049,2000,17,0,0
0,39049,2001,19,3,0
0,39049,2002,17,0,0
0,39049,2003,13,1,0
0,39049,2004,10,0,0
0,39049,2005,4,0,0
0,39049,2006,2,0,0
0,39049,2007,4,0,0
0,39049,2008,1,0,0
0,39049,2010,13,0,0
0,39049,2011,23,0,0
0,39049,2012,2,1,0
0,39049,2013,2,1,0
0,39049,2014,4,1,0
0,39049,2015,2,1,0
0,39049,2016,1,0,0
0,39049,2017,1,0,0
0,39049,2018,3,1,0
0,39049,2019,13,0,0